<!DOCTYPE html>
<html>
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>プロフィール編集</title>

	<!-- Site Properties -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" type="text/css" href="common/style.css">
</head>
<body>
	<!-- Vue.jsで読み込む -->
	<div id="app">
		<!-- メニューバー -->
		<common-menu current="profile"></common-menu>
		<!-- コンテンツ -->
		<div class="ui main container">
			<div class="ui segment">
				<h2>ユーザー情報</h2>
				<form class="ui large form" v-on:submit.prevent="submit">
						<div class="field">
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input type="text" placeholder="{{user.userId}}" v-model="user.userId" required readonly>
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="lock icon"></i>
								<input type="password" placeholder="{{user.password}}" v-model="user.password">
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="tag icon"></i>
								<input type="text" placeholder="{{user.nickname}}" v-model="user.nickname">
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="calendar icon"></i>
								<input type="text" placeholder="{{user.age}}" v-model="user.age">
							</div>
						</div>
						<button class="ui huge green fluid button" type="submit">
							プロフィールを編集
						</button>
				</form>
			</div>
			<div class="ui segment">
				<h2>{{user.nickname}}の投稿一覧</h2>
				<div class="ui segments">
					<div class="ui segment" v-for="result in results" :key="result">
						<h2 class="ui header">
							<div class="content">
								<img :src="'http://yuji-rekognition.s3-website-ap-northeast-1.amazonaws.com/' + result.fileId" width="100px">
								<h3>
									悲しみ：<span id="sad" class="ui teal label">{{ result.sad }}</span>
									驚き：<span id="surprised" class="ui violet label">{{ result.surprised }}</span>
									笑顔：<span id="smile" class="ui yellow label">{{ result.smile }}</span>
									冷静さ：<span id="calm" class="ui olive label">{{ result.calm }}</span>
									怒り：<span id="angry" class="ui red label">{{ result.angry }}</span>
								</h3>

							</div>
						</h2>
					</div>
				</div>
			</div>
			<button class="ui large grey fluid button" v-on:click="deleteUser">
				退会
			</button>
		</div>
	</div>

	<!-- APIのURLを読み込みJSファイル -->
	<script src="./common/config.js" charset="utf-8"></script>
	<!-- メニューのjsファイル -->
	<script src="./js/menu.js" charset="utf-8"></script>
	<!-- 各ページで使うJSファイルはこの行より下で読み込む -->
	<script src="./js/user_show.js" charset="utf-8"></script>
</body>
</html>